<ul class="footer-ul"> <%/* Footer bar, links to all the pages */%>
    <li class="footer-li"><a href="/">Home</a></li>
    <li class="footer-li"><a href="/profile">Profile</a></li>
    <li class="footer-li"><a href="/slide-show">Slide Show</a></li>
    <li class="footer-li"><a href="/terms">Terms & Conditions</a></li>
    <li class="footer-li"><a href="/terms/#privacy">Privacy Policy</a></li>
</ul>