<ul class="menu-ul">  <%/* Menu bar, links to all the pages */%>
    <li class="menu-li"><a href="/">Home</a></li>
    <li class="menu-li"><a href="/profile">Profile</a></li>
    <li class="menu-li"><a href="/slide-show">Slideshow</a></li>
    <li class="menu-li"><a href="/terms">Terms & Conditions</a></li>
    <li class="menu-li"><a href="/terms/#privacy">Privacy Policy</a></li>
    <li class="menu-li"><a href="/snake">Snake Game</a></li>
</ul>