<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css/project.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Snakey</title>
  </head>
  <body>
    <%- include('layouts/menu') -%>
    <main>
      <div id="score">0</div>
    <div class="canvas-container">
      <canvas id="snakeboard" width="600" height="600"></canvas>
      <button id='startGame'>Start Game</button>
      <!--<button id='startGameHard'>Start Game Hard Mode</button>--> 
      <div id="gameOver" class="hide">
      <button id="restart">Play Again?</button>
      </div>
    </div> 

    </main>
    <%- include ('layouts/footer') -%> 
    <script src="js/snaker.js"></script>
  </body>
</html>
